html, body {
    width: 100%;
    height: 100%;
}

.body-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-img {
    width: 100%;
}

#table-content {
    font-size: small;
}

#table-footer {
    display: flex;
    padding-top: 15px;
}

.logs-table {
   table-layout: fixed;
}

.logs-table td {
    word-wrap: break-word;
}

.logs-table-container {
    overflow: scroll;
    height: calc(100% - 195px);
}

.logs-table tr {
    max-width: 150px;
}

#th-date {
    width: 180px;
}

#th-type {
    width: 80px;  
}

#th-user {
    width: 160px;   
}

.footer {
    display: flex;
    height: 50px;
    background: #E52027;
    color: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.centred {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-params {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logs-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logs-pagination ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.logs-pagination a {
    color: #E52027 !important;
}

.logs-pagination li {
    cursor: pointer;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.logs-pagination li.active a{
    color: #721013 !important;
}

#pagination-control {
    float: right;
    margin-right: 30px;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

#type {
    width: 120px;
}

#user {
    width: 120px;
}

#action {
    width: 120px;
}

.dates {
    width: 120px;
    background: white !important;
}

.search-field {
    display: inline;
    margin-right: 10px;
}

.th-sort {
    color: #E52027;
}

.content-container {
    display: flex;
    height: inherit;
}

.content {
    height: inherit;
}