<div class="search-params">
    <div class="search-field">
        От:
        <input id="dateGt" name="date_gt" value="{{ date_gt }}" class="dates form-control inline" autocomplete="off" readonly>        
    </div>
    <div class="search-field">
        До:
        <input id="dateLt" name="date_lt" value="{{ date_lt }}" class="dates form-control inline" autocomplete="off" readonly>
    </div>
    <div class="search-field">
        Тип:
        <select id="type" name="type" class="form-control inline">
            <option {%if type==""%}selected{%endif%} value=""></option>
            <option {%if type=="trace"%}selected{%endif%} value="info">TRACE</option>
            <option {%if type=="debug"%}selected{%endif%} value="debug">DEBUG</option>
            <option {%if type=="info"%}selected{%endif%} value="warning">INFO</option>
            <option {%if type=="warn"%}selected{%endif%} value="error">WARN</option>
            <option {%if type=="error"%}selected{%endif%} value="error">ERROR</option>
            <option {%if type=="critical"%}selected{%endif%} value="error">CRITICAL</option>
        </select>
    </div>
    <div class="search-field">
        Пользователь:
        <input id="user" name="user" class="form-control inline" value="{{ user }}">
    </div>
    <div class="search-field">
        Действие:
        <input id="action" name="action" class="form-control inline" value="{{ action }}">
    </div>
    <button id="search" type="button" class="btn btn-danger">Поиск</button>
    <button id="clear-search" type="button" class="btn btn-light">Очистить</button>
</div>