<div class="search-params">
    Тип:
    <select id="type" name="type">
        <option {%if type==""%}selected{%endif%} value=""></option>
        <option {%if type=="trace"%}selected{%endif%} value="info">TRACE</option>
        <option {%if type=="debug"%}selected{%endif%} value="debug">DEBUG</option>
        <option {%if type=="info"%}selected{%endif%} value="warning">INFO</option>
        <option {%if type=="warn"%}selected{%endif%} value="error">WARN</option>
        <option {%if type=="error"%}selected{%endif%} value="error">ERROR</option>
        <option {%if type=="critical"%}selected{%endif%} value="error">CRITICAL</option>
    </select>
    Пользователь:
    <input id="user" name="user" value="{{ user }}">
    Действие:
    <input id="action" name="action" value="{{ action }}">
    От:
    <input id="dateGt" name="date_gt" value="{{ date_gt }}" class="dates" autocomplete="off" readonly>
    До:
    <input id="dateLt" name="date_lt" value="{{ date_lt }}" class="dates" autocomplete="off" readonly>
    <button id="search" type="button">Поиск</button>
    <button id="clear-search" type="button">Очистить</button>
</div>