<thead>
    <th>
        Дата
        <a class="th-sort" href="#" data-field="created_at" data-type="date">&duhar;</a>
    </th>    
    <th>
        Тип
        <a class="th-sort" href="#" data-field="type" data-type="string">&duhar;</a>
    </th>
    <th>
        Пользователь 
        <a class="th-sort" href="#" data-field="user_id" data-type="number">&duhar;</a>
    </th>
    <th>
        Email
        <a class="th-sort" href="#" data-field="email" data-type="string">&duhar;</a>
    </th>
    <th>Действие</th>
    <th>URL</th>
</thead>