<thead>
    <th>
        Пользователь 
        <a class="th-sort" href="#" data-field="user_id" data-type="number">sort</a>
    </th>
    <th>
        Email
        <a class="th-sort" href="#" data-field="email" data-type="string">sort</a>
    </th>
    <th>
        Тип
        <a class="th-sort" href="#" data-field="type" data-type="string">sort</a>
    </th>
    <th>Действие</th>
    <th>URL</th>
    <th>
        Дата
        <a class="th-sort" href="#" data-field="created_at" data-type="date">sort</a>
    </th>
</thead>