<thead id="table-header" class="hidden">
    <th id="th-date">
        Дата
        <a class="th-sort" href="#" data-field="created_at" data-type="date">&duhar;</a>
    </th>    
    <th id="th-type">
        Тип
        <a class="th-sort" href="#" data-field="type" data-type="string">&duhar;</a>
    </th>
    <th id="th-user">
        Пользователь 
        <a id="th-user" class="th-sort" href="#" data-field="user_id" data-type="number">&duhar;</a>
    </th>
    <th id="th-email">
        Email
        <a class="th-sort" href="#" data-field="email" data-type="string">&duhar;</a>
    </th>
    <th id="th-action">Действие</th>
    <th id="th-url">URL</th>
</thead>