{% extends "_base.html" %}

{% set title = "Просмотр логов" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='/css/bootstrap-datepicker.min.css') }}" />  
{% endblock %}

{% block content %}
    <h3 class="logs-header">Просмотр логов</h3>
    {% include 'includes/_search_params.html' %}    
    <div id="loader" class="hidden">
        <span>Идет загрузка данных ...</span>
    </div>
    <div id="logs-empty" class="hidden">Ничего не найдено</div>
    <div class="logs-table-container">
        <table class="logs-table table table-striped">
            {% include 'includes/_thead.html' %}
            <tbody id="table-content"></tbody>
        </table>
    </div>
    <div id="table-footer" class="hidden">
        <div class="col-md-6">Найдено: <span id="logs-count"></span></div>
        <div class="col-md-6">
            <div id="pagination-control"></div>
        </div>
    </div>     
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url('static', filename='/js/libs/pagination.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('static', filename='/js/libs/moment.js') }}"></script>
    <script type="text/javascript" src="{{ url('static', filename='/js/libs/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('static', filename='/js/libs/bootstrap-datepicker.ru.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('static', filename='/js/logs.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            setInitialDate();
            getLogs();
        });
        $('#search').on('click', () => {
            getLogs();
        });
        $('#clear-search').on('click', () => {
            clearSearchParams();
        });
        $('.th-sort').on('click', (e) => {
            sortByField(e.target);
        });        
        $('.dates').datepicker({
            language: 'ru',
            format: 'dd.mm.yyyy',
            autoclose: true,
        });
        $('.dates').on('change', (e) => {
            transformDateForSearchQuery(e.target);
        });
    </script>
{% endblock %}